/* your css code goes here */

.span {
    display: inline-block;
    padding: 50px;
    width: 5%;
    border: 1px solid black;
    margin-left: 0;
}

.span > span {
    position: relative;
    top: -37px;
    left: -36px;
}

.other {
    background-color: lightgrey;
}